# Root directory of the lapack repository used to build the lapack repository we link against

LAPACKROOT=$(GIT_REPO_LOC)/lapack

LAPACKEINC=$(LAPACKROOT)/LAPACKE/include
CBLASINC=$(LAPACKROOT)/CBLAS/include

# MY_LIBS is a path to the root directory of where I store the libraries that I build
LAPACKLIB=$(MY_LIBS)/lapack/liblapack.a
LAPACKELIB=$(MY_LIBS)/lapack/liblapacke.a
BLASLIB=$(MY_LIBS)/lapack/librefblas.a
CBLASLIB=$(MY_LIBS)/lapack/libcblas.a

CC=gcc
FC=gfortran
# Below optimizer flags are to mirror what blis and libflame use
# Doesn't seem to have much of an impact on what we're doing.
CFLAGS=-g -O3 -Wno-implicit
FFLAGS=-g -O3 -fimplicit-none

# This is the compilation flags needed to compile with optimized blas
# For intel machines, this whatever is needed for MKL.
#	  On Linux, this is done by instally mkl (typically through the package manager) and then running 
#	  ```mkl_link_tool gfortran $(CFLAGS) my_dorgqr.o test.o my_dlarfb.o```
#	  and then taking the ending bit after 'my_dlarfb.o'
# For AMD machines, this is whatever is needed for AOCL
#         You can be done something like
#         OPTBLAS=<path-to-libFLAME-library>/libflame.so <path-to-BLIS-library>/libblis.so
#         or to follow the up to date recommendation from the AOCL user guide in the chapter discussing using 
#         AOCL-libFLAME
#OPTBLAS=-m64  -I"/opt/intel/oneapi/mkl/2023.2.0/include"  -L$(MKLROOT)/lib/intel64 -Wl,--no-as-needed -lmkl_gf_lp64 -lmkl_intel_thread -lmkl_core -liomp5 -lpthread -lm -ldl
# Use system libraries
#OPTBLAS=-L$(AOCLROOT)/lib -lblis -lm -lpthread
# Use compiled libraries. This was necessary to avoid a bug with NaNs in the bugTest directory on my linux machine
OPTBLAS=$(MY_LIBS)/optblas/flame/lib/libflame.so \
		$(MY_LIBS)/optblas/blis/lib/libblis.so \
		${MY_LIBS}/optblas/aocl-utils/lib/libaoclutils.so \
		${MY_LIBS}/optblas/aocl-utils/lib/libau_cpuid.so

# vim: ft=make
